<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="{{ asset('assets/front/css/bootstrap.min.css') }}">

            <link rel="stylesheet" type="text/css" href="{{ asset('assets/front/css/font-awesome.css') }}">

            <link rel="stylesheet" href="{{ asset('assets/front/css/templatemo-softy-pinko.css') }}">

            <link href="https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,700,900" rel="stylesheet">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
            <!-- jQuery -->
            <script src="{{ asset('assets/front/js/jquery-2.1.0.min.js') }}"></script>

            <!-- Bootstrap -->
            <script src="{{ asset('assets/front/js/popper.js') }}"></script>
            <script src="{{ asset('assets/front/js/bootstrap.min.js') }}"></script>

            <!-- Plugins -->
            <script src="{{ asset('assets/front/js/scrollreveal.min.js') }}"></script>
            <script src="{{ asset('assets/front/js/waypoints.min.js') }}"></script>
            <script src="{{ asset('assets/front/js/jquery.counterup.min.js') }}"></script>
            <script src="{{ asset('assets/front/js/imgfix.min.js') }}"></script>

            <!-- Global Init -->
            <script src="{{ asset('assets/front/') }}"></script>
        {% endblock %}
    </body>
</html>
