{% extends 'base.html.twig' %}
{% block title %}Reactors : Page d'acceuil{% endblock %}
{% block body %}
    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->


    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="#" class="logo">
                            <img src="{{ asset('assets/front/images/logo.png') }}" alt="Reactors-TN" width="35px" height="35px"/>
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li><a href="#welcome" class="active">Page d'acceuil</a></li>
                            <li><a href="#features">Missions</a></li>
                            <li><a href="#work-process">Associations</a></li>
                            <li><a href="#blog">S'inscrire / Se connecter</a></li>
                            <li><a href="#testimonials">A propos</a></li>
                            <li><a href="#pricing-plans">Listes d'aide</a></li>
                            <li><a href="#contact-us">Contactez nous</a></li>
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->



    <!-- ***** Welcome Area Start ***** -->
    <div class="welcome-area" id="welcome">

        <!-- ***** Header Text Start ***** -->
        <div class="header-text">
            <div class="container">
                <div class="row">
                    <div class="offset-xl-3 col-xl-6 offset-lg-2 col-lg-8 col-md-12 col-sm-12">
                        <h1>Reactors Tunisie</h1>
                        <p>Reactors relie des  <strong>associations à but non lucratif,</strong><br>
                            <strong>des donateurs </strong> et des <strong>entreprises</strong> en Tunisie pour aider à façonner un avenir meilleur.</p>
                        <a href="#testimonials" class="main-button-slider">Decouvrez nous</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- ***** Header Text End ***** -->
    </div>
    <!-- ***** Welcome Area End ***** -->



    <!-- ***** Features Small Start ***** -->
    <section class="section home-feature">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <!-- ***** Features Small Item Start ***** -->
                        <div class="col-lg-4 col-md-6 col-sm-6 col-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.2s">
                            <div class="features-small-item">
                                <div class="icon">
                                    <i><img src="{{ asset('assets/front/images/featured-item-01.png') }}" alt=""></i>
                                </div>
                                <h5 class="features-title">Decouvrez nos missions</h5>
                                <p>Participer a des evenement populaire organiser par des association non lucratif .</p>
                            </div>
                        </div>
                        <!-- ***** Features Small Item End ***** -->

                        <!-- ***** Features Small Item Start ***** -->
                        <div class="col-lg-4 col-md-6 col-sm-6 col-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.4s">
                            <div class="features-small-item">
                                <div class="icon">
                                    <i><img src="{{ asset('assets/front/images/featured-item-01.png') }}" alt=""></i>
                                </div>
                                <h5 class="features-title">Contribuer à la société</h5>
                                <p>Commencer maintenant votre vie de bénévole en donnant votre soutien a des gens en besoin</p>
                            </div>
                        </div>
                        <!-- ***** Features Small Item End ***** -->

                        <!-- ***** Features Small Item Start ***** -->
                        <div class="col-lg-4 col-md-6 col-sm-6 col-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.6s">
                            <div class="features-small-item">
                                <div class="icon">
                                    <i><img src="{{ asset('assets/front/images/featured-item-01.png') }}" alt=""></i>
                                </div>
                                <h5 class="features-title">Besoin d'aide ?</h5>
                                <p>Nous vous encourageons si vous ou une de vos connaissance on besoin de soutient de partager les information nécessaire pour vous aider . </p>
                            </div>
                        </div>
                        <!-- ***** Features Small Item End ***** -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Features Small End ***** -->

    <!-- ***** Features Big Item Start ***** -->
    <section class="section padding-top-70 padding-bottom-0" id="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-12 col-sm-12 align-self-center" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                    <img src="{{ asset('assets/front/images/Fundraising-Cake-sale-2016112103214260.jpg') }}" class="rounded img-fluid d-block mx-auto" alt="App">
                </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-6 col-md-12 col-sm-12 align-self-center mobile-top-fix">
                    <div class="left-heading">
                        <h2 class="section-title">Rien ne rassemble une équipe comme travailler pour un objectif commun et une cause commune</h2>
                    </div>
                    <div class="left-text">
                        <p>La responsabilité sociale des entreprises n'a jamais été aussi amusante - qu'il s'agisse de construire des vélos, de rassembler des vêtements ou de la nourriture, votre groupe aura un impact positif sur la communauté et sur votre organisation.. </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="hr"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Features Big Item End ***** -->

    <!-- ***** Features Big Item Start ***** -->
    <section class="section padding-bottom-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12 align-self-center mobile-bottom-fix">
                    <div class="left-heading">
                        <h2 class="section-title">Si vous avez déjà voulu aider de grandes causes dans la ville mais que vous ne savez pas par où commencer</h2>
                    </div>
                    <div class="left-text">
                        <p>Pensez à assister à un événement caritatif .Ces collectes de fonds fournissent le produit dont de nombreux organismes de bienfaisance ont besoin pour poursuivre leurs efforts de sensibilisation ou de financement pour une certaine cause. Non seulement vous pouvez aider des groupes dignes avec votre argent, mais vous pouvez également profiter de bons achats, de courses amusantes, de cuisine et d'autres événements agréables.</p>
                    </div>
                </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-5 col-md-12 col-sm-12 align-self-center mobile-bottom-fix-big" data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
                    <img src="{{ asset('assets/front/images/charityeventfeat_photo_credit_sydaproductions_shutterstock.jpg') }}" class="rounded img-fluid d-block mx-auto" alt="App">
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Features Big Item End ***** -->

    <!-- ***** Home Parallax Start ***** -->
    <section class="mini" id="work-process">
        <div class="mini-content">
            <div class="container">
                <div class="row">
                    <div class="offset-lg-3 col-lg-6">
                        <div class="info">
                            <h1>Fondations Participants</h1>
                            <p>Voici quelques fondations qui nous aident à augmenter votre portée</p>
                        </div>
                    </div>
                </div>

                <!-- ***** Mini Box Start ***** -->
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-2 col-md-4 col-sm-6 col-6">
                        <a href="#" class="mini-box">
                            <i><img src="../../../../web/assets/front/images/work-process-item-01.png" alt=""></i>
                            <strong>Croissant Rouge Tunisien</strong>
                            <span></span>
                        </a>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-6 col-6">
                        <a href="#" class="mini-box">
                            <i><img src="../../../../web/assets/front/images/work-process-item-01.png" alt=""></i>
                            <strong>Conseil Tunisien pour les Réfugiés</strong>
                            <span></span>
                        </a>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-6 col-6">
                        <a href="#" class="mini-box">
                            <i><img src="../../../../web/assets/front/images/work-process-item-01.png" alt=""></i>
                            <strong>COSMOS</strong>
                            <span></span>
                        </a>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-6 col-6">
                        <a href="#" class="mini-box">
                            <i><img src="../../../../web/assets/front/images/work-process-item-01.png" alt=""></i>
                            <strong>Citoyenneté Pour Tous</strong>
                            <span></span>
                        </a>
                    </div>
                </div>
                <!-- ***** Mini Box End ***** -->
            </div>
        </div>
    </section>
    <!-- ***** Home Parallax End ***** -->

    <!-- ***** Blog Start ***** -->
    <section class="section section colored"  id="blog">
        <div class="container login-container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="center-heading">
                        <h2 class="section-title">Créer un compte</h2>
                    </div>
                </div>
                <div class="offset-lg-3 col-lg-6">
                    <div class="center-text">
                        <p>Si vous êtes une association ou un particulier, rejoignez-nous maintenant</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 login-form-1">
                    <h3 class="mb-3">S'inscrire</h3>
                    <form>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Addresse Email" value="" />
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Mot de pass" value="" />
                        </div>
                        <div class="form-check mb-2">
                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                            <label class="form-check-label" for="defaultCheck1">
                                Vous etes une Association
                            </label>
                        </div>
                        <div class="form-group">
                            <button type="submit" id="form-submit" class="main-button btnSubmit">Envoyer</button>
                        </div>
                    </form>
                </div>
                <div class="col-md-6 login-form-1">
                    <h3 class="mb-3">Se connecter</h3>
                    <form>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Addresse Email" value="" />
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Mot de pass" value="" />
                        </div>
                        <div class="form-group">
                            <button type="submit" id="form-submit" class="main-button btnSubmit">Envoyer</button>
                        </div>

                        <div class="form-group">
                            <a href="#" class="ForgetPwd">Mot de pass oublier?</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Blog End ***** -->

    <!-- ***** Testimonials Start ***** -->
    <section class="section" id="testimonials">
        <div class="container">
            <!-- ***** Section Title Start ***** -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="center-heading">
                        <h2 class="section-title">A propos de nous</h2>
                    </div>
                </div>
                <div class="offset-lg-3 col-lg-6">
                    <div class="center-text">
                        <p>Réacteurs est une plate-forme qui agissent comme le lien entre les associations, les donateurs et les personnes dans le besoin</p>
                    </div>
                </div>
            </div>
            <!-- ***** Section Title End ***** -->

            <div class="row">
                <!-- ***** Testimonials Item Start ***** -->
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="team-item">
                        <div class="team-content">
                            <i><img src="../../../../web/assets/front/images/testimonial-icon.png" alt=""></i>
                            <p>En tant que membres d'Enactus Esprit, nous pouvons dire que Reactors est en effet une solution révolutionnaire pour nous aider à atteindre plus de personnes et à améliorer notre travail caritatif.</p>
                            <div class="user-image">
                                <img src="{{ asset('assets/front/images/enactus-logo.png') }}" width="60px" height="60px" alt="">
                            </div>
                            <div class="team-info">
                                <h3 class="user-name">Safa Karma</h3>
                                <span>Managing Director</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ***** Testimonials Item End ***** -->

                <!-- ***** Testimonials Item Start ***** -->
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="team-item">
                        <div class="team-content">
                            <i><img src="../../../../web/assets/front/images/testimonial-icon.png" alt=""></i>
                            <p>Reactors m'aident à entrer en contact avec la réalité et les difficultés de notre société. Je peux enfin contacter et faire un don aux personnes dans le besoin de manière sécurisée et légitime</p>
                            <div class="user-image">
                                <img src="{{ asset('assets/front/images/David-Beckham.jpg') }}" width="60px" height="60px" alt="">
                            </div>
                            <div class="team-info">
                                <h3 class="user-name">Mohamed Ali Hammi</h3>
                                <span>Joueur du Football</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ***** Testimonials Item End ***** -->

                <!-- ***** Testimonials Item Start ***** -->
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="team-item">
                        <div class="team-content">
                            <i><img src="../../../../web/assets/front/images/testimonial-icon.png" alt=""></i>
                            <p>Je suis éternellement reconnaissant aux Reactors, sans cela je serais capable de faire une opération chirurgicale pour enlever la tumeur</p>
                            <div class="user-image">
                                <img src="{{ asset('assets/front/images/Jennifer-Aniston.jpg') }}" width="60px" height="60px" alt="">
                            </div>
                            <div class="team-info">
                                <h3 class="user-name">Samar Laasad</h3>
                                <span>Journaliste</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ***** Testimonials Item End ***** -->
            </div>
        </div>
    </section>
    <!-- ***** Testimonials End ***** -->

    <!-- ***** Pricing Plans Start ***** -->
    <section class="section colored" id="pricing-plans">
        <div class="container">
            <!-- ***** Section Title Start ***** -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="center-heading">
                        <h2 class="section-title">Commencer Maintenant</h2>
                    </div>
                </div>
                <div class="offset-lg-3 col-lg-6">
                    <div class="center-text">
                        <p> Voici quelques un de des person les plus en besoin</p>
                    </div>
                </div>
            </div>
            <!-- ***** Section Title End ***** -->

            <div class="row">
                <!-- ***** Pricing Item Start ***** -->
                <div class="col-lg-4 col-md-6 col-sm-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.2s">
                    <div class="pricing-item">
                        <div class="pricing-header">
                            <h3 class="pricing-title">Mohamed Amine</h3>
                        </div>
                        <div class="pricing-body">
                            <div class="price-wrapper">
                                <span class="currency">TND</span>
                                <span class="price">14.50</span>
                                <span class="period">Accumuler</span>
                            </div>
                            <ul class="list">
                                <li class="active">SDF depuis 4 ans</li>
                                <li class="active">besoin de vêtement rechaffant pour L'hiver </li>
                                <li class="active"></li>
                                <li></li>
                                <li></li>
                                <li></li>
                            </ul>
                        </div>
                        <div class="pricing-footer">
                            <a href="#" class="main-button">Contribuer</a>
                        </div>
                    </div>
                </div>
                <!-- ***** Pricing Item End ***** -->

                <!-- ***** Pricing Item Start ***** -->
                <div class="col-lg-4 col-md-6 col-sm-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.4s">
                    <div class="pricing-item active">
                        <div class="pricing-header">
                            <h3 class="pricing-title">Ridha Malouli</h3>
                        </div>
                        <div class="pricing-body">
                            <div class="price-wrapper">
                                <span class="currency">TND</span>
                                <span class="price">21.50</span>
                                <span class="period">Accumuler</span>
                            </div>
                            <ul class="list">
                                <li class="active">Bientot SDF</li>
                                <li class="active">Besoin de don pour soin Medical urgent</li>
                                <li class="active"></li>
                                <li class="active"></li>
                                <li></li>
                                <li></li>
                            </ul>
                        </div>
                        <div class="pricing-footer">
                            <a href="#" class="main-button">Contribuer</a>
                        </div>
                    </div>
                </div>
                <!-- ***** Pricing Item End ***** -->

                <!-- ***** Pricing Item Start ***** -->
                <div class="col-lg-4 col-md-6 col-sm-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.6s">
                    <div class="pricing-item">
                        <div class="pricing-header">
                            <h3 class="pricing-title">Samira Belgasem</h3>
                        </div>
                        <div class="pricing-body">
                            <div class="price-wrapper">
                                <span class="currency">TND</span>
                                <span class="price">42.00</span>
                                <span class="period">Accumuler</span>
                            </div>
                            <ul class="list">
                                <li class="active">SDF depuis 5 mois</li>
                                <li class="active"></li>
                                <li class="active"></li>
                                <li class="active"></li>
                                <li class="active"></li>
                                <li class="active"></li>
                            </ul>
                        </div>
                        <div class="pricing-footer">
                            <a href="#" class="main-button">Contribuer</a>
                        </div>
                    </div>
                </div>
                <!-- ***** Pricing Item End ***** -->
            </div>
        </div>
    </section>
    <!-- ***** Pricing Plans End ***** -->

    <!-- ***** Counter Parallax Start ***** -->
    <section class="counter">
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="count-item decoration-bottom">
                            <strong>7</strong>
                            <span>Partenaires</span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="count-item decoration-top">
                            <strong>63</strong>
                            <span>Associations</span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="count-item decoration-bottom">
                            <strong>1290</strong>
                            <span>Doneurs</span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="count-item">
                            <strong>378</strong>
                            <span>Bénéficiés</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Counter Parallax End ***** -->



    <!-- ***** Contact Us Start ***** -->
    <section class="section colored" id="contact-us">
        <div class="container">
            <!-- ***** Section Title Start ***** -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="center-heading">
                        <h2 class="section-title">Contactez nous</h2>
                    </div>
                </div>
                <div class="offset-lg-3 col-lg-6">
                    <div class="center-text">
                        <p>Maecenas pellentesque ante faucibus lectus vulputate sollicitudin. Cras feugiat hendrerit semper.</p>
                    </div>
                </div>
            </div>
            <!-- ***** Section Title End ***** -->

            <div class="row">
                <!-- ***** Contact Text Start ***** -->
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <h5 class="margin-bottom-30">Rester en contact</h5>
                    <div class="contact-text">
                        <p>Z.I. Chotrana II B.P. 160 Pôle Technologique El Ghazela - Ariana 2083</p>
                            <br>(+216) 70 250 000</p>
                    </div>
                </div>
                <!-- ***** Contact Text End ***** -->

                <!-- ***** Contact Form Start ***** -->
                <div class="col-lg-8 col-md-6 col-sm-12">
                    <div class="contact-form">
                        <form id="contact" action="" method="get">
                            <div class="row">
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <fieldset>
                                        <input name="name" type="text" class="form-control" id="name" placeholder="Nom et Prenom" required="">
                                    </fieldset>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <fieldset>
                                        <input name="email" type="email" class="form-control" id="email" placeholder="Adresse Email" required="">
                                    </fieldset>
                                </div>
                                <div class="col-lg-12">
                                    <fieldset>
                                        <textarea name="message" rows="6" class="form-control" id="message" placeholder="Votre Message" required=""></textarea>
                                    </fieldset>
                                </div>
                                <div class="col-lg-12">
                                    <fieldset>
                                        <button type="submit" id="form-submit" class="main-button">Envoyer Message</button>
                                    </fieldset>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- ***** Contact Form End ***** -->
            </div>
        </div>
    </section>
    <!-- ***** Contact Us End ***** -->

    <!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <ul class="social">
                        <li><a href="https://www.facebook.com/reactor.tn"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p class="copyright">Droits d'auteur &copy; 2020 Tropical Monkeys</p>
                </div>
            </div>
        </div>
    </footer>

{% endblock %}




