{% extends 'base.html.twig' %}

{% block body %}
    <h1>Missions list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Picture</th>
                <th>Description</th>
                <th>Location</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for mission in missions %}
            <tr>
                <td><a href="{{ path('mission_show', { 'id': mission.id }) }}">{{ mission.id }}</a></td>
                <td>{{ mission.name }}</td>
                <td>{{ mission.picture }}</td>
                <td>{{ mission.description }}</td>
                <td>{{ mission.location }}</td>
                <td>{% if mission.date %}{{ mission.date|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('mission_show', { 'id': mission.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('mission_edit', { 'id': mission.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('mission_new') }}">Create a new mission</a>
        </li>
    </ul>
{% endblock %}
