{% extends 'back/baseback.html.twig' %}

{% block title %}{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card align-content-center">
                <div class="card-body">
                    <div class="row align">
                        <div class="col-lg-12">
                            <div class="jumbotron">
                                <h1 class="display-3">{{ association.displayName }}</h1>
                                <div class="col-lg-4 text-center mb-4">
                                    <img src="{{ asset('assets/back/images/gallery/chair3.jpg') }}" alt="image" class="rounded-circle" width="290">
                                    <!--<img src="{{ association.profilePic }}" alt="image" class="rounded-circle" width="290">-->
                                    <p class="mt-3 mb-0">
                                    </p></div>
                                <p class="lead">{{ association.description }}.</p>
                                <hr class="my-4">
                                <p>It uses utility classes for typography and spacing to space content out
                                    within the larger container.</p>
                                <p class="lead">
                                    <a class="btn btn-primary btn-lg" href="javascript:void(0)" role="button">Learn more</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="col-lg-52 col-md-80" >
    <ul>
        <li>
            <a href="{{ path('association_index') }}">Retour</a>
        </li>
        <li>
            <a href="{{ path('association_edit', { 'id': association.id }) }}">Modifier</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer">
            {{ form_end(delete_form) }}
        </li>
    </ul>

        </div>
    </div>
</div>
{% endblock %}
